@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:#D96B62;
    font-family: 'Barlow';
    width: 100%;
}

.primario {
    height: 760px;
    width: 100%;
}

.colunas {
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 60px;
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 170px;
}
.menu {
    flex-wrap: wrap;
}

.menu ul {
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding-right: 120px;
}

.menu ul li {
    list-style: none;
    padding-right: 70px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
}

.imagem{
    margin-left: 12%;
}

.sobre h1{
    text-align: center;
    color: white;
    font-size: 45px;
}

.sobre p{
    color: white;
    font-size: 20px;
    margin-left: 230px;
}

footer {
    background-color: #2D90A6;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 262px;
}

.esquerda1 {
    margin-top: 50px;
}

.esquerda1 h3 {
    font-size: 20px;
    font: lighter;
}

.esquerda1 h3 a {
    text-decoration: none;
    color: #ffff;
}

hr {
    width: 500%;
}

.direita1 img{
    width: 11%;
}